@media (min-width: 1601px) {
  .ArticlesEmbeddedVid {
    position: relative;
    display: block;
    width: 1227px;
    /* height: 668px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    box-shadow: 0px 4px 85px 30px rgba(255, 0, 194, 0.3);
  }
  .LoadMorePostsButton {
    width: 1036px;
    height: 158px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    background: #ff00c2;
    opacity: 0.9;
    border-radius: 103px;

    display: flex;
    font-family: "GraphikLCG-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
  }
  .InteriorTitle {
    position: relative;
    z-index: 100;
    margin-top: 50px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 3rem; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .InteriorTitleSpan {
    position: relative;
    z-index: 100;
    background: var(--text-outline-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "GraphikLCG-Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .InteriorTitleNav {
    position: relative;
    margin-top: 25px;
    text-align: center;

    color: #696969;
    font-family: "GraphikLCG-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
  .InteriorTitleNavSpan {
    position: relative;
    display: inline-block;
    transform: scaleY(2) scaleX(1);
    transform-origin: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .InteriorDescription {
    position: relative;
    margin-top: 50px;
    margin-left: 455px;
    margin-right: 470px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .InteriorText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1568px;
    /* padding: 66px 131px; */

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    backdrop-filter: blur(10px);
    background: rgba(55, 47, 53, 0.2);
    border: double 1px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
      linear-gradient(110deg, #660e4a 15.39%, #ff00c2 89.04%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
  }
  .InteriorTextPadding {
    padding: 46px 131px 66px;
  }
  .InteriorTextBold {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  .InteriorTextTitle {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .InteriorText p {
    margin-top: 20px;
  }
  .InteriorText ul {
    margin-top: 20px;
  }
  .InteriorText li {
    margin-top: 20px;
    margin-left: 24px;
  }
  .line-15 {
    position: relative;
  }
}
@media (min-width: 721px) and (max-width: 1600px) {
  .ArticlesEmbeddedVid {
    display: block;
    width: 90%;
    /* height: 668px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    box-shadow: 0px 4px 65px 20px rgba(255, 0, 194, 0.3);
  }
  .LoadMorePostsButton {
    width: 100%;
    height: 138px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    background: #ff00c2;
    opacity: 0.9;
    border-radius: 103px;

    display: flex;
    font-family: "GraphikLCG-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
  }
  .InteriorTitle {
    margin-top: 50px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 3rem; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .InteriorTitleSpan {
    background: var(--text-outline-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "GraphikLCG-Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .InteriorTitleNav {
    margin-top: 25px;
    text-align: center;

    color: #696969;
    font-family: "GraphikLCG-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
  .InteriorTitleNavSpan {
    display: inline-block;
    transform: scaleY(2) scaleX(1);
    transform-origin: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .InteriorDescription {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .InteriorText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    /* padding: 66px 131px; */

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    backdrop-filter: blur(10px);
    background: rgba(55, 47, 53, 0.2);
    border: double 1px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
      linear-gradient(110deg, #660e4a 15.39%, #ff00c2 89.04%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
  }
  .InteriorTextPadding {
    padding: 26px 60px 50px;
  }
  .InteriorTextBold {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  .InteriorTextTitle {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .InteriorText p {
    margin-top: 20px;
  }
  .InteriorText ul {
    margin-top: 20px;
  }
  .InteriorText li {
    margin-top: 20px;
    margin-left: 24px;
  }
}
@media (min-width: 1px) and (max-width: 720px) {
  .ArticlesEmbeddedVid {
    display: block;
    width: 100%;
    /* height: 668px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    box-shadow: 0px 4px 45px 14px rgba(255, 0, 194, 0.3);
  }
  .LoadMorePostsButton {
    width: 100%;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    background: #ff00c2;
    opacity: 0.9;
    border-radius: 103px;

    display: flex;
    font-family: "GraphikLCG-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
  }
  .InteriorTitleArticles {
    margin-top: 50px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 3rem; */
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .InteriorTitleArticlesSpan {
    background: var(--text-outline-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "GraphikLCG-Regular";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .InteriorTitleNav {
    margin-top: 25px;
    text-align: center;

    color: #696969;
    font-family: "GraphikLCG-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
  .InteriorTitleNavSpan {
    display: inline-block;
    transform: scaleY(2) scaleX(1);
    transform-origin: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .InteriorDescription {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .InteriorText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 98vw;
    /* padding: 66px 131px; */

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    backdrop-filter: blur(10px);
    background: rgba(55, 47, 53, 0.2);
    border: double 1px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
      linear-gradient(110deg, #660e4a 15.39%, #ff00c2 89.04%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
  }
  .InteriorTextPadding {
    padding: 16px 14px 50px;
  }
  .InteriorTextBold {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  .InteriorTextTitle {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .InteriorText p {
    margin-top: 20px;
  }
  .InteriorText ul {
    margin-top: 20px;
  }
  .InteriorText li {
    margin-top: 20px;
    margin-left: 24px;
  }
}
@media (min-width: 1px) {
  .ArticlesEmbeddedVid {
    aspect-ratio: 16 / 9;
    border-radius: 40px;
  }
  .MarginTop100 {
    margin-top: 100px;
  }
}
