@media (min-width: 1601px) {
  .ReviewsTitle {
    margin-top: 50px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 3rem; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .ReviewsTitleSpan {
    background: var(--text-outline-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "GraphikLCG-Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .ReviewsTitleNav {
    margin-top: 25px;
    text-align: center;

    color: #696969;
    font-family: "GraphikLCG-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
  .ReviewsTitleNavSpan {
    display: inline-block;
    transform: scaleY(2) scaleX(1);
    transform-origin: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ReviewsDescription {
    position: relative;
    margin-top: 50px;
    margin-left: 455px;
    margin-right: 470px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .SliderLine {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;

    text-align: center;
  }
  .ReviewsText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1568px;
    /* padding: 66px 131px; */

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    backdrop-filter: blur(10px);
    background: rgba(55, 47, 53, 0.2);
    border: double 1px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
      linear-gradient(110deg, #660e4a 15.39%, #ff00c2 89.04%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
  }
  .ReviewsTextPadding {
    position: relative;
    padding: 46px 131px 66px;
    /* margin-top: -20px; */
  }
  .ReviewsTextBold {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  .ReviewsTextTitle {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .ReviewsText p {
    margin-top: 20px;
  }
  .ReviewsText ul {
    margin-top: 20px;
  }
  .ReviewsText li {
    margin-top: 20px;
    margin-left: 24px;
  }
  .AdditionalInfoArrow {
    position: absolute;
    bottom: 26px;
    right: 26px;
    transition: transform 0.8s ease;
  }
}
@media (min-width: 721px) and (max-width: 1600px) {
  .ReviewsTitle {
    margin-top: 50px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 3rem; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .ReviewsTitleSpan {
    background: var(--text-outline-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "GraphikLCG-Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .ReviewsTitleNav {
    margin-top: 25px;
    text-align: center;

    color: #696969;
    font-family: "GraphikLCG-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
  .ReviewsTitleNavSpan {
    display: inline-block;
    transform: scaleY(2) scaleX(1);
    transform-origin: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ReviewsDescription {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .SliderLine {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;

    text-align: center;
  }
  .ReviewsText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    /* padding: 66px 131px; */

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    backdrop-filter: blur(10px);
    background: rgba(55, 47, 53, 0.2);
    border: double 1px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
      linear-gradient(110deg, #660e4a 15.39%, #ff00c2 89.04%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
  }
  .ReviewsTextPadding.collapsed {
    padding: 26px 60px 50px;
  }
  .ReviewsTextPadding {
    position: relative;
    padding: 26px 60px 0px;
  }
  .ReviewsTextBold {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  .ReviewsTextTitle {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .ReviewsText p {
    margin-top: 20px;
  }
  .ReviewsText ul {
    margin-top: 20px;
  }
  .ReviewsText li {
    margin-top: 20px;
    margin-left: 24px;
  }
  .AdditionalInfoArrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: transform 0.8s ease;
  }
  .AdditionalInfoArrow.collapsed {
    position: relative;
    display: block;
    margin: 0 -40px 24px auto;
    transition: transform 0.8s ease;

    bottom: 0px;
    right: 0px;
  }
}
@media (min-width: 1px) and (max-width: 720px) {
  .ReviewsTitle {
    margin-top: 50px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 3rem; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .ReviewsTitleSpan {
    background: var(--text-outline-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "GraphikLCG-Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .ReviewsTitleNav {
    margin-top: 25px;
    text-align: center;

    color: #696969;
    font-family: "GraphikLCG-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
  .ReviewsTitleNavSpan {
    display: inline-block;
    transform: scaleY(2) scaleX(1);
    transform-origin: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ReviewsDescription {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .SliderLine {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;

    text-align: center;
  }
  .ReviewsText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 98vw;
    /* padding: 66px 131px; */

    color: #fff;
    font-family: "GraphikLCG-Extralight";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    backdrop-filter: blur(10px);
    background: rgba(55, 47, 53, 0.2);
    border: double 1px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
      linear-gradient(110deg, #660e4a 15.39%, #ff00c2 89.04%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
  }
  .ReviewsTextPadding.collapsed {
    padding: 16px 14px 70px;
  }
  .ReviewsTextPadding {
    position: relative;
    padding: 16px 14px 0px;
  }
  .ReviewsTextBold {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1rem; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  .ReviewsTextTitle {
    color: #fff;
    font-family: "GraphikLCG-Regular";
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .ReviewsText p {
    margin-top: 20px;
  }
  .ReviewsText ul {
    margin-top: 20px;
  }
  .ReviewsText li {
    margin-top: 20px;
    margin-left: 24px;
  }
  .AdditionalInfoArrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: transform 0.8s ease;
  }
  .AdditionalInfoArrow.collapsed {
    position: relative;
    display: block;
    margin: 14px 0px 24px auto;
    transition: transform 0.8s ease;

    bottom: 0px;
    right: 0px;
  }
}
@media (min-width: 1px) {
}
